@import "smart-grid.less";
@import "var.less";
@import "fonts.less";


.reset();

.wrapper { 
	.wrapper();
}

.body {
  box-sizing: border-box;  
}


.indx {
  display: flex;
  height: 100vh;
    &__wrp {
      //border: @border;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__hdr {
      //border: @border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 110px;
    }
    &__hdrcontent {
      //border: @border;
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
    &__hdrcontacts {
      //border: @border;
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    &__hdrcontactstel {
      //border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
        i {
          font-size: 1.7rem;
        }
        span {
          font-size: 1.3rem;
          margin-left: 5px;
          font-weight: bold;
        }
    }
    &__hdrcontacstmail {
      //border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
        i {
          font-size: 1.7rem;
        }
        span {
          font-size: 1.1rem;
          margin-left: 5px;
          font-weight: bold;
        }
    }

    &__hdrlogo {
      //border: @border;
      display: flex;
      justify-content: center;
      width: 30%;

    }
    &__hdrauth {
      //border: @border;
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    &__hdrauthreg {
      //border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
        i {
          font-size: 1.7rem;
        }
        a {
          text-decoration: none;
          color: black;
          span {
            font-size: 1.1rem;
            margin-left: 5px;
            font-weight: bold;
          }
        }
    }
    &__hdrauthlogin {
      //border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
        i {
          font-size: 1.7rem;
        }
        a {
          text-decoration: none;
          color: black;
          span {
            font-size: 1.1rem;
            margin-left: 5px;
            font-weight: bold;
          }
        }
    }

  &__menu {
    border: @border;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: black;
  }
  &__menucontent {
    border: @border;
    display: flex;
    width: 75%;

  }
  &__menucontentlinks {
    border: @border;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
      a {
        text-decoration: none;
        color: white;
      }
  }
  &__menucontentfind {

  }

}




