@import "smart-grid.less";
@import "var.less";
@import "fonts.less";


.reset();

.wrapper { 
	.wrapper();
}

.body {
  box-sizing: border-box;  
}


.indx {
  display: flex;
  height: 100vh;
  &__wrp {
    border: @border;
    background-color: #eeeeee;
    width: 100%;
  }
}